{% extends "layout.html" %}
{% block content %}
<div class="container" data-article="{{ article.id }}">
    <div class="well">
        <h2><a href="{{ article.link  }}" target="_blank">{{ article.title|safe }}</a></h2>
        <h3>{{ _('from') }} <a href="/feed/{{ article.source.id }}">{{ article.source.title }}</a></h3>
        <a href="/delete/{{ article.id }}"><i class="glyphicon glyphicon-remove" title="{{ _('Delete this article') }}"></i></a>
        {% if article.like %}
            <a href="#"><i class="glyphicon glyphicon-star like" title="{{ _('One of your favorites') }}"></i></a>
        {% else %}
            <a href="#"><i class="glyphicon glyphicon-star-empty like" title="{{ _('Click if you like this article') }}"></i></a>
        {% endif %}
        {% if article.readed %}
            <a href="#"><i class="glyphicon glyphicon-unchecked readed" title="{{ _('Mark this article as unread') }}"></i></a>
        {% else %}
            <a href="#"><i class="glyphicon glyphicon-check readed" title="{{ _('Mark this article as read') }}"></i></a>
        {% endif %}
        <h6>{{ article.date | datetime }}</h6>
    </div>
    <div class="well">
        {{ article.content | safe }}
    </div>
    <div class="well">
        <div class="row">
            <div class="col-md-6">
                {{ _('Next post:') }} <a href="/article/{{ next_article.id }}">{{ next_article.title }}</a>
            </div>
            <div class="col-md-6 text-right">
                {{ _('Previous post:') }} <a href="/article/{{ previous_article.id }}">{{ previous_article.title }}</a>
            </div>
        </div>
    </div>
    <div class="well">
        <a href="https://api.pinboard.in/v1/posts/add?url={{ article.link  }}&description={{ article.title }}" rel="noreferrer" target="_blank">
            <img src="{{ url_for('static', filename='img/pinboard.png') }}" title="{{ _('Share on') }} Pinboard" />
        </a>
        <a href="https://reddit.com/submit?url={{ article.link }}&title={{ article.title }}" rel="noreferrer" target="_blank">
            <img src="{{ url_for('static', filename='img/reddit.png') }}" title="{{ _('Share on') }} reddit" />
        </a>
        <a href="https://twitter.com/intent/tweet?url={{ article.link }}&text={{ article.title }}"  rel="noreferrer" target="_blank">
            <img src="{{ url_for('static', filename='img/twitter.png') }}" title="{{ _('Share on') }} twitter" >
        </a>
    </div>
</div><!-- /.container -->
{% endblock %}
