{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="well">
        <form method=get action="/inactives">
            <p>{{ _('Days of inactivity') }}:</p>
            <input type="number" name="nb_days" class="form-control" value="{{ nb_days }}" min="0" max="1000000" step="1" size="4" style="text-align: center" />
        </form>
        <br />
        {% if inactives != [] %}
            <ul class="list-group">
            {% for feed, delta in inactives %}
                <li class="list-group-item">
                    <a href="{{ url_for('feed.feed', feed_id=feed.id) }}">
                        {% if feed.icon %}<img src="{{ url_for('feed.icon', feed_id=feed.id) }}" width="16px" />{% endif %}
                        {{ feed.title }}
                    </a> - {{ delta.days }} {{ _('days') }}
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>{{ _('No inactive feeds.') }}<p>
        {% endif %}
    </div>
</div><!-- /.container -->
{% endblock %}
